/*
Style for Betting System

Created: February 2014
*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.rss-footer {
	font-style: italic;
	font-size: 0.9em;
}


table a {
	color: rgb(51, 51, 51);
}

.breadcrumb {
	margin-top: 20px;
}


.final-type {
	padding-top: 20px !important;
	font-size: 0.95em;
	text-align: center !important;
	font-weight: bold;
}



/* Style for match *
*************************/


table.matches th:nth-child(1),
table.matches td:nth-child(1),
table.goals td:nth-child(1),
table.cards td:nth-child(1) {
	text-align: right;
	width: 45%;
}


table.matches th:nth-child(2),
table.matches td:nth-child(2),
table.goals td:nth-child(2),
table.cards td:nth-child(2) {
	text-align: center;
	width: 10%;
}

table.matches th:nth-child(3),
table.matches td:nth-child(3),
table.goals td:nth-child(3),
table.cards td:nth-child(3) {
	text-align: left;
	width: 45%;
}


table.goals .football-icon {
	background-image: url('../img/football.svg');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}


.card-icon {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 10px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}


.yellow {
	background-image: url('../img/yellow-card.svg');
}

.red {
	background-image: url('../img/red-card.svg');
}


.football-player {
	background-image: url('../img/football-player.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	opacity: 0.9;
	-webkit-transition: 0.5s all;
	height: 300px;
}

.football-player h2 {
	padding-left: 33%;
}


table.goals a {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block;
}


.bet-button-container {
	text-align: center;
	padding-bottom: 20px;
}


.center {
	text-align: center;
}


table.goals td:first-child.team-b,
table.goals td:last-child.team-a,
table.cards td:first-child.team-b,
table.cards td:last-child.team-a {
	font-size: 0;
}

table.goals td:first-child.team-b span,
table.goals td:last-child.team-a span,
table.cards td:first-child.team-b span,
table.cards td:last-child.team-a span {
	display: none;
}


/* News *
********/


.nav-news {
	border-bottom-width: 0px !important;
}

.nav-news li.active {
	border-bottom: 1px solid #ddd !important;
}


#news-feed .loader-container {
	padding: 50px;
}





/* Field *
*********/

/*#field {
	background-image: url('../img/field.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 700px;
}



table {
	height: 600px;
	padding-left: 50px;
}


table td {
	text-align: center;
	vertical-align: middle;
	width: 100px;
}


table .player {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 10px #333;
}

table tr:nth-child(2) td:nth-child(2) .player,
table tr:nth-child(2) td:nth-child(3) .player {
	margin-left: 40px;
}

table tr:nth-child(1) td:nth-child(3),
table tr:nth-child(1) td:nth-child(4) {
	vertical-align: bottom;
}

table tr:nth-child(4) td:nth-child(2),
table tr:nth-child(4) td:nth-child(3) {
	vertical-align: top;
}*/




/* Player *
**********/

.image-container {
	text-align: center;
}

.image-container img {
	background-color: #3D6AA2;
	
	box-shadow: 0 2px 4px -4px gray;
}


/* Wiki */

.wiki {
	text-align: justify;
	max-height: 205px;
	overflow-y: hidden;
	transition: all 0.6s;
}

.panel-wiki {
	position: absolute;
	width: 100%;
	z-index: 1;
}

div.panel-wiki:hover .wiki {
	max-height: 1000px;
}



/* Login *
*********/

.social-buttons {
	text-align: center;
}

.social-buttons a {
	display: inline-block;
	width: 188px;
	height: 34px;
	background-image: url('../img/social-buttons.png');
	background-repeat: no-repeat;
	font-size: 0;
	vertical-align: middle;
	margin: 5px;
	text-align: left;
	cursor: pointer;
}

.social-buttons .btn-group {
	padding: 0;
	margin: 0;
}


.social-buttons .dropdown-menu .form-group {
	padding: 0;
	margin: 0;
}

.social-buttons .dropdown-menu {
	padding: 5px;
}

.social-buttons .dropdown-menu button {
	margin-top: 5px;
	width: 100%;
}


.social-buttons #facebook {
	background-position: -190px -157px !important;
}

.social-buttons #google {
	background-position: -190px -313px !important;
}

.social-buttons #yahoo {
	background-position: -190px -547px !important;
}

.social-buttons #wordpress {
	background-position: -190px -469px !important;
}

.social-buttons #openid {
	background-position: -422px -391px !important;
}

