/*
Style for Betting System

Created: February 2014
*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.rss-footer {
	font-style: italic;
	font-size: 0.9em;
}


table a {
	color: rgb(51, 51, 51);
}

.breadcrumb {
	margin-top: 20px;
}




/* Style for Charts *
********************/

canvas{
	width: 100% !important;
	height: auto !important;
}


.legend {
	font-size: 13px;
}

.legend-item {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	margin-left: 10px;
	margin-right: 2px;
}

.image-container {
	text-align: center;
}



/* Style for match *
*************************/


table.matches th:nth-child(1),
table.matches td:nth-child(1),
table.goals td:nth-child(1) {
	text-align: right;
	width: 45%;
}

table.matches th:nth-child(2),
table.matches td:nth-child(2),
table.goals td:nth-child(2) {
	text-align: center;
	width: 10%;
}

table.matches th:nth-child(3),
table.matches td:nth-child(3),
table.goals td:nth-child(3) {
	text-align: left;
	width: 45%;
}


.bet-button-container {
	text-align: center;
	padding-bottom: 20px;
}


.center {
	text-align: center;
}


table.goals td:first-child.team-b,
table.goals td:last-child.team-a {
	font-size: 0;
}


/* News *
********/


.nav-news {
	border-bottom-width: 0px !important;
}

.nav-news li.active {
	border-bottom: 1px solid #ddd !important;
}




/* Field *
*********/

/*#field {
	background-image: url('../img/field.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 700px;
}



table {
	height: 600px;
	padding-left: 50px;
}


table td {
	text-align: center;
	vertical-align: middle;
	width: 100px;
}


table .player {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 10px #333;
}

table tr:nth-child(2) td:nth-child(2) .player,
table tr:nth-child(2) td:nth-child(3) .player {
	margin-left: 40px;
}

table tr:nth-child(1) td:nth-child(3),
table tr:nth-child(1) td:nth-child(4) {
	vertical-align: bottom;
}

table tr:nth-child(4) td:nth-child(2),
table tr:nth-child(4) td:nth-child(3) {
	vertical-align: top;
}*/