body,
html {
	height: 100%;
}


body {
	background-color: #f9f9f9;
}


div.container {
	width: 500px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	height: 100%;
	box-sizing: border-box;
}

div.container h2 {
	text-align: center;
}

div.container .pure-form .pure-input-1-2,
.pure-button {
	width: 100%;
	box-sizing: border-box;
}

p.notice {
	padding: 1em 1em;
	border-radius: 3px;
	color: #fff;
}


p.notice.ok {
	background-color: #1f8dd6;
}

p.notice.error {
	background-color: rgb(202, 60, 60);
}


table {
	width: 100%;
}

